/* You can add global styles to this file, and also import other style files */

// Import prebuilt Material theme
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Custom theme variables
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$background: #fafafa;
$text-primary: #333333;
$primary-color: #233575;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: $background;
  color: $text-primary;
}

* {
  box-sizing: border-box;
}

// Override Material Design primary color with our custom color
.mat-toolbar.mat-primary,
.mat-mdc-toolbar.mat-primary {
  background-color: $primary-color !important;
  color: white !important;
}

.mat-mdc-raised-button.mat-primary,
.mat-mdc-button.mat-primary {
  --mdc-protected-button-container-color: #{$primary-color};
  --mdc-filled-button-container-color: #{$primary-color};
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #{$primary-color};
}

// Override accent color (checkboxes, radio buttons, etc.) to use blue instead of pink
.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-icon-color: #{$primary-color};
  --mdc-radio-selected-hover-icon-color: #{$primary-color};
  --mdc-radio-selected-focus-icon-color: #{$primary-color};
  --mdc-radio-selected-pressed-icon-color: #{$primary-color};
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: white;
  --mdc-checkbox-selected-icon-color: #{$primary-color};
  --mdc-checkbox-selected-hover-icon-color: #{$primary-color};
  --mdc-checkbox-selected-focus-icon-color: #{$primary-color};
  --mdc-checkbox-selected-pressed-icon-color: #{$primary-color};
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-track-color: #{$primary-color};
  --mdc-switch-selected-handle-color: #{$primary-color};
  --mdc-switch-selected-hover-handle-color: #{$primary-color};
  --mdc-switch-selected-focus-handle-color: #{$primary-color};
  --mdc-switch-selected-pressed-handle-color: #{$primary-color};
}
